

		<div id="container">
			<h1>{{header_h1}}</h1>
			<div>
				<table>
					<thead>
						<tr>
							<th>Data</th>
							<th>Hora</th>
							<th>Medico</th>							
							<th>Especialidade</th>
							<th>Utente</th>
							<th>Enfermeiros</th>						
							<th>Receitas</th>						
						</tr>
					</thead>
					<tbody>
						{{#lista}}
						<tr> 
							<td>{{data}}</td>
							<td>{{hora}}</td>
							<td>{{nomeMedico}}</td>							
							<td>{{especialidade}}</td>	
							<td>{{nomeUtente}}</td>						
							<td><a href="{{enfermeirosList}}">ver enfermeiros</a></td>							
							<td><a href="{{receitas}}">ver receitas</a></td>
						</tr>
						{{/lista}}
					</tbody>
				</table>
				<p class="links">{{{links}}}</p>
			</div>
		</div>
