		<div class ="footer">
            {{#isLoggedIn}}
                <a href="mailto:al220002@epcc.pt">Contacte-nos</a>
            {{/isLoggedIn}}
			Trabalho realizado por: 
			Afonso Araújo
		</div>
	</body>
</html>
