		<div class ="footer">
            {{#isLoggedIn}}
                <a href="{{email}}">Contacte-nos</a>
            {{/isLoggedIn}}
			Trabalho realizado por: 
			Afonso Araújo
		</div>
	</body>
</html>
