<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		{{#javascript}}
			<script src="{{javascript}}"></script>
		{{/javascript}}
		<link href="http://localhost/codeIgniter/Code1/resources/css/general.css" rel="stylesheet" />
		<link href="{{css}}" rel="stylesheet" />
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	</head>
