

		<div id="container">
			<form action="" method="post" class="login-form">
				<div>
					<label for="username">Insira o seu nome: </label>
					<input type="text" name="username" id="username" value="{{#is_flash}} {{username}} {{/is_flash}}" required>
				</div>
				<div>
					<label for="password">Insira a sua senha: </label>
					<input type="password" name="password" id="password" required>
				</div>
				<div>
					<input id="submit" type="submit" value="Entrar">
				</div>
			</form>
		</div>
