	<body>
		<div class="navbar">
			<img src="{{imgNav}}" alt="Hospital cross">
			<ul>
				<li><a href="{{home}}">Home Page</a></li>
				<li><a href="{{medicos}}">Medicos</a></li>
				<li><a href="{{utentes}}">Utentes</a></li>
				<li><a href="{{enfermeiros}}">Enfermeiros</a></li>
				<li><a href="{{consultas}}">Consultas</a></li>
			</ul>
			<a href="{{login}}">Log-in</a>
		</div>
