

		<div id="container">
			<h1>{{header_h1}}</h1>
			<div>
				<table>
					<thead>
						<tr>
							<th>id</th>
							<th>nome</th>
							<th>tipo</th>
							<th>options</th>
						</tr>
					</thead>
					<tbody>
						{{#lista}}
						<tr>
							<td>{{id}}</td> 
							<td>{{username}}</td>
							<td>{{tipo}}</td>
							<td><a href="{{edit_url}}/{{id}}">editar</a>  |  <a href="{{delete_url}}/{{id}}">eliminar</a></td>																																	
						</tr>
						{{/lista}}
					</tbody>
				</table>
				<p class="links">{{{links}}}</p>
			</div>
			<a href="{{usercreate}}">criar user</a>
		</div>
