

		<div id="container">
			<h1>{{header_h1}}</h1>
			<div>
				<table>
					<thead>
						<tr>
							<th>NOME</th>
							<th>cidade</th>
							{{#isLoggedIn}}
								<th>nUtente</th>								
							{{/isLoggedIn}}
						</tr>
					</thead>
					<tbody>
						{{#listaUtentes}}
						<tr> 
							<td>{{nome}}</td>
							<td>{{cidade}}</td>
							{{#isLoggedIn}}
								<td>{{nUtente}}</td>
							{{/isLoggedIn}}
						</tr>
						{{/listaUtentes}}
					</tbody>
				</table>
				<p class="links">{{{links}}}</p>
			</div>
		</div>

